[FORMAT]

good-names=i,j,k,_,T,p1,p2

[MESSAGES CONTROL]

disable=
  line-too-long,
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  too-many-instance-attributes,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  no-self-use,
  no-member,
  unsubscriptable-object,
  unsupported-assignment-operation,
  unsupported-delete-operation
