[tool.poetry]
name = "beet"
version = "0.81.1"
description = "The Minecraft pack development kit"
authors = ["Valentin Berlier <berlier.v@gmail.com>"]
license = "MIT"

homepage = "https://github.com/mcbeet/beet"
repository = "https://github.com/mcbeet/beet"
documentation = "https://github.com/mcbeet/beet"

readme = "README.md"

keywords = [
  "beet",
  "minecraft",
  "datapack",
  "resourcepack",
  "mcfunction",
]

include = ["beet/py.typed"]

[tool.poetry.dependencies]
python = "^3.10"
nbtlib = "^1.12.1"
pathspec = "^0.10.2"
pydantic = "^1.10.2"
click = "^8.1.3"
click-help-colors = "^0.9.1"
Jinja2 = "^3.1.2"
toml = "^0.10.2"
PyYAML = "^6.0"
Pillow = {version = "*", optional = true}
colorama = {version = "*", markers = 'sys_platform == "win32"'}

[tool.poetry.extras]
image = ["Pillow"]

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
pytest = "^7.2.0"
pytest-minecraft = "^0.2.0"
isort = "^5.10.1"
pytest-insta = "^0.1.11"
python-semantic-release = "^7.32.2"
mudkip = "^0.8.0"

[tool.poetry.scripts]
beet = "beet.toolchain.cli:main"

[tool.poetry.plugins.beet]
commands = "beet.toolchain.commands"
autoload = "beet.contrib.default"

[tool.poetry.plugins.pytest11]
beet = "beet.pytest_plugin"

[tool.pytest.ini_options]
addopts = "tests beet --ignore beet/__main__.py --doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"

[tool.pyright]
typeCheckingMode = "basic"
ignore = ["docs", "setup.py"]
strict = [
  "beet/contrib",
  "beet/core",
  "beet/library",
  "beet/toolchain",
  "examples",
  "tests",
]

[tool.black]
target-version = ["py310"]

[tool.isort]
profile = "black"

[tool.semantic_release]
branch = "main"
version_variable = ["beet/__init__.py:__version__"]
version_toml = "pyproject.toml:tool.poetry.version"
major_on_zero = false
build_command = "poetry build"

[tool.mudkip]
base_url = "https://mcbeet.dev"
preset = "furo"

[tool.mudkip.override]
html_title = "Beet documentation"
html_logo = "assets/beet_logo.png"
html_favicon = "assets/favicon.png"
suppress_warnings = ["myst.header"]
linkcheck_ignore = ['https://github\.com/mcbeet/beet/commit/.+']

[tool.mudkip.override.html_theme_options]
sidebar_hide_name = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
