[tool.poetry]
name = "beet"
version = "0.20.1"
description = "The Minecraft pack development kit"
authors = ["Valentin Berlier <berlier.v@gmail.com>"]
license = "MIT"

homepage = "https://github.com/mcbeet/beet"
repository = "https://github.com/mcbeet/beet"
documentation = "https://github.com/mcbeet/beet"

readme = "README.md"

keywords = [
  "beet",
  "minecraft",
  "datapack",
  "resourcepack",
  "mcfunction"
]

include = ["beet/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
nbtlib = "^1.12.0"
pathspec = "^0.8.1"
Pillow = "^8.2.0"
pydantic = "^1.8.1"
click = "^7.1.2"
click-help-colors = "^0.9"
Jinja2 = "^2.11.3"
colorama = {version = "*", markers = 'sys_platform == "win32"'}
fnvhash = "^0.1.0"
base58 = "^2.1.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pytest = "^6.2.3"
rope = "^0.19.0"
pytest-minecraft = "^0.1.1"
isort = "^5.7.0"
pytest-insta = "^0.1.10"
python-semantic-release = "^7.15.3"
mudkip = "^0.4.5"
furo = "^2021.4.11b34"

[tool.poetry.scripts]
beet = "beet.toolchain.cli:main"

[tool.poetry.plugins.beet]
commands = "beet.toolchain.commands"

[tool.poetry.plugins.pytest11]
beet = "beet.pytest_plugin"

[tool.black]
target-version = ["py38"]
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | node_modules
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[tool.semantic_release]
branch = "main"
version_variable = ["beet/__init__.py:__version__"]
version_toml = "pyproject.toml:tool.poetry.version"
major_on_zero = false
build_command = "poetry build"

[tool.mudkip]
base_url = "https://mcbeet.dev"
preset = "furo"

[tool.mudkip.override]
html_title = "Beet documentation"
html_logo = "assets/logo.png"
html_favicon = "assets/favicon.png"

[tool.mudkip.override.html_theme_options]
sidebar_hide_name = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
