[project]
name = "bolt"
version = "0.49.2"
description = "Supercharge Minecraft commands with Python"
readme = "README.md"
authors = [
    { name = "Valentin Berlier", email = "berlier.v@gmail.com" }
]
requires-python = ">=3.14"
dependencies = [
    "beet>=0.112.0",
    "mecha>=0.99.0",
]

[project.entry-points."beet"]
commands = "bolt.commands"

[build-system]
requires = ["uv_build>=0.9.8,<0.10.0"]
build-backend = "uv_build"

[tool.uv.sources]
beet = { workspace = true }
mecha = { workspace = true }

[tool.pytest.ini_options]
addopts = "tests --import-mode=importlib"
