[project]
name = "mecha"
version = "0.99.0"
description = "A powerful Minecraft command library"
readme = "README.md"
authors = [
    { name = "Valentin Berlier", email = "berlier.v@gmail.com" }
]
requires-python = ">=3.14"
dependencies = [
    "beet>=0.112.0",
    "tokenstream>=1.7.0",
]

[project.scripts]
mecha = "mecha.cli:main"

[project.entry-points."beet"]
commands = "mecha.commands"

[build-system]
requires = ["uv_build>=0.9.8,<0.10.0"]
build-backend = "uv_build"

[tool.uv.sources]
beet = { workspace = true }

[tool.pytest.ini_options]
addopts = "tests --import-mode=importlib"
