[tool.poetry]
name = "mecha"
version = "0.42.0"
description = "A powerful Minecraft command library"
authors = ["Valentin Berlier <berlier.v@gmail.com>"]
license = "MIT"

homepage = "https://github.com/mcbeet/mecha"
repository = "https://github.com/mcbeet/mecha"
documentation = "https://github.com/mcbeet/mecha"

readme = "README.md"

keywords = [
  "beet",
  "minecraft",
  "datapack",
  "minecraft-commands",
  "mcfunction"
]

include = ["mecha/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
beet = ">=0.52.2"
tokenstream = "^1.3.1"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
pytest = "^7.0.1"
isort = "^5.10.1"
python-semantic-release = "^7.26.0"
pytest-insta = "^0.1.11"
lectern = ">=0.19.1"

[tool.poetry.scripts]
mecha = "mecha.cli:main"

[tool.poetry.plugins.beet]
commands = "mecha.commands"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "tests mecha --ignore mecha/__main__.py --doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"

[tool.black]
target-version = ["py38"]
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | node_modules
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[tool.semantic_release]
branch = "main"
version_variable = ["mecha/__init__.py:__version__"]
version_toml = "pyproject.toml:tool.poetry.version"
major_on_zero = false
build_command = "poetry build"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
