[project]
name = "lectern"
version = "0.34.0"
description = "Literate Minecraft data packs and resource packs"
readme = "README.md"
authors = [
    { name = "Valentin Berlier", email = "berlier.v@gmail.com" }
]
requires-python = ">=3.14"
dependencies = []

[project.scripts]
lectern = "lectern.cli:main"

[build-system]
requires = ["uv_build>=0.9.8,<0.10.0"]
build-backend = "uv_build"
