[tool.poetry]
name = "lectern"
version = "0.26.0"
description = "Literate Minecraft data packs and resource packs."
authors = ["Valentin Berlier <berlier.v@gmail.com>"]
license = "MIT"

homepage = "https://github.com/mcbeet/lectern"
repository = "https://github.com/mcbeet/lectern"
documentation = "https://github.com/mcbeet/lectern"

readme = "README.md"

keywords = [
  "literate-programming",
  "beet",
  "resourcepack",
  "minecraft",
  "datapack"
]

classifiers = ["Framework :: Pytest"]

include = ["lectern/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
beet = ">=0.79.0"
markdown-it-py = "^2.1.0"
click = "^8.1.3"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
pytest = "^7.2.0"
isort = "^5.10.1"
python-semantic-release = "^7.32.2"
pytest-insta = "^0.1.11"

[tool.poetry.scripts]
lectern = "lectern.cli:main"

[tool.poetry.plugins.pytest11]
lectern = "lectern.pytest_plugin"

[tool.pytest.ini_options]
addopts = "tests --import-mode=importlib"

[tool.pyright]
typeCheckingMode = "strict"

[tool.black]
target-version = ["py38"]

[tool.isort]
profile = "black"

[tool.semantic_release]
branch = "main"
version_variable = ["lectern/__init__.py:__version__"]
version_toml = "pyproject.toml:tool.poetry.version"
major_on_zero = false
build_command = "poetry build"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
