name: CI

on:
  push:
    branches: [monorepo]
  pull_request:
    branches: [monorepo]

env:
  PYTHON_VERSION: "3.14"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - .
          - packages/lectern
          - packages/mecha
          - packages/bolt
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --all-packages --locked --all-extras --dev
      - name: Run tests
        working-directory: ${{ matrix.package }}
        run: uv run pytest -v
