name: CI

on:
  push:
    branches: [main, beta]
  pull_request:
    branches: [main, beta]

env:
  PACKAGES: |
    .
    packages/lectern
    packages/mecha
    packages/bolt

jobs:
  main:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
      - name: Reset workflow sha
        run: git reset --hard ${{ github.sha }}
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --all-packages --locked --all-extras --dev
      - name: Tests
        run: |
          status=0
          for p in $PACKAGES; do
            if ! (uv run --directory "$p" pytest -v); then
              status=1
            fi
          done
          exit $status
      - name: Ruff
        run: uv run ruff check
      - name: Ruff format
        run: uv run ruff format --check --diff
      - name: Release
        if: github.event_name == 'push' && github.repository == 'mcbeet/beet'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for p in $PACKAGES; do
          uv run --directory "$p" bash -e <<"EOF"
            if semantic-release --strict version --no-commit --no-tag; then
              uv lock --upgrade-package $(uv version | cut -d " " -f1)
              git add "$GITHUB_WORKSPACE/uv.lock"
              grep "{ workspace = true }" pyproject.toml | {
                while read dep _; do
                  uv add "$dep>=$(uv version --package $dep --short)"
                done
              }
              git add pyproject.toml
              uv build -o dist
              semantic-release --strict version
              uv publish dist/*
              semantic-release publish
            fi
          EOF
          done
